// always need a single node entry point, so start with a parent div
div
    h1 #{title}
    if !installed
        button.btn(onclick=installAsPwa) Install
    p(class=status) #{onlineStatusMsg}
    p #{uploadingStatusMsg}
    - var showTab
    .tab.align-centre
        each button in tabs
            button.tabLinks(id=button.id onclick=button.action) #{button.txt}
            if (button.active)
                - showTab = button.tabName
    div.tabContent.surround(id='videoSelection' style=showTab === 'videoSelection' ? {display: 'block'} : {display: 'none'})
        div.align-centre
            video(autoPlay playsInline muted id="webcam" width="100%" height="200")
            #imageCanvas.imageCanvas
                each img in images
                    img(src=img alt="captured" height="200")
            br
        div.align-centre
            each button in buttons
                - var display = button.active ? 'block' : 'none'
                button.btn.btn-primary(id=button.id onclick=button.action style={display: display}) #{button.txt}
    div.tabContent.surround(id='audioSelection' style=showTab === 'audioSelection' ? {display: 'block'} : {display: 'none'})
        p #{recordingStatusMsg}
        div.align-centre
            each button in buttons
                - var display = button.active ? 'block' : 'none'
                button.btn.btn-primary(id=button.id onclick=button.action style={display: display}) #{button.txt}
        if audioUrl.length
            each url in audioUrl
                audio(src = url, controls='controls' )
                a(href=url)
