mixin displayTab(showTab, tabName)
    if (showTab === tabName)
        div.tabContent.surround(id=tabName style={display: 'block'})
            block
    else
        div.tabContent(id=tabName style={display: 'none'})
            block
mixin displayButtons()
    each button in buttons
        - var display = button.active ? 'block' : 'none'
        button.btn.btn-primary(id=button.id onclick=button.action style={display: display}) #{button.txt}
